/* Global Favorites Section Styling */
.favorites {
    position: fixed;
    left: 0;
    top: 0;
    width: 120px;
    height: 100%;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    overflow-y: scroll;
    /* Keeps scrolling functionality */
    overflow-x: hidden;
    scrollbar-width: none;
    /* Hides scrollbar in Firefox */
    -ms-overflow-style: none;
    /* Hides scrollbar in IE and Edge */
    z-index: 10;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.favorites::-webkit-scrollbar {
    display: none;
    /* Hides scrollbar in Chrome, Safari, Edge */
}

/* Favorites Content Styling */
.favorites-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.favorites:hover .favorites-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.favorites-content .emote-box {
    position: relative;
    width: 80px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease;
    opacity: 1;
    transform: scale(1);
}

.favorites:hover .emote-box {
    width: 250px;
}

.favorites-content .emote-box .img-container {
    max-width: 100%;
    max-height: 50%;
    transition: opacity 0.3s ease;
}


.favorites-content .emote-name {
    overflow: hidden;
}

.favorites-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 50px;
    z-index: 15;
    text-align: center;
    font-weight: bold;
}

.favorites-header .header {
    margin: 10;
    font-size: 20px;
}

.favorites:hover {
    .favorites-counter {
        opacity: 1;
    }
    .mobile-close-button {
        display: block;
        opacity: 1;
    }
}


.favorites .img-container {
    max-height: 80%;
}

.favorites .dimensions:hover {
    background-color: #e5793a;
}

.mobile-favorites .dimensions:hover {
    background-color: #e5793a;
}

/* Favorites Counter */
.favorites-counter {
    opacity: 0;
}

/* Search Field Styling */
.search-field {
    font-size: 16px;
    color: #444;
    height: 38px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1000;
}

.image-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-image {
    max-width: 90%;
    max-height: 90%;
    border: 4px solid #d4682d;
    border-radius: 8px;
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.close-modal:hover {
    color: #ff4d4d;
}

/* Mobile Favorites Section */
.mobile-favorites {
    position: fixed;
    top: 50px;
    left: 0;
    width: 250px;
    /* Adjust for mobile view */
    height: 100%;
    background-color: #fff;
    border-right: 1px solid #e0e0e0;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    padding: 10px;

}

.mobile-favorites .header {
    font-size: 18px;
    margin-bottom: 10px;
}

.mobile-favorites .favorites-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* History Section */
.history {
    position: fixed;
    right: 0;
    top: 0;
    width: 120px;
    height: 100%;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 10;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.history-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: transform 0.3s ease, gap 0.3s ease, scale 0.3s ease;
    padding: 10px;
    position: relative;
}

.history-content.shrink {
    gap: 5px;
    transform: scale(0.8);
}

.history-content .emote-box {
    position: relative;
    width: 80px;
    height: 102px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease;
    opacity: 1;
    transform: scale(1);
}

.history-content .emote-box img {
    max-width: 100%;
    max-height: 100%;
    transition: opacity 0.3s ease;
}

.history-content .emote-name {
    opacity: 0;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Misc */
.removing {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.favorite-counter {
    color: black;
}

.favorites-overlay {
    display: none; /* Initially hidden */
    position: fixed;
    top: 50px; /* Adjust to cover the entire screen */
    left: 0; /* Start at the left edge of the screen */
    width: 100%; /* Full width of the viewport */
    height: 100%; /* Full height of the viewport */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999; /* Ensure it sits above the content but below the menu */
    opacity: 0; /* Start invisible */
    transition: opacity 0.3s ease; /* Smooth fade-in effect */
}

.favorites-overlay.open {
    display: block; /* Make the element visible */
    opacity: 1; /* Fade in the overlay */
}

#login-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1000;
}

#login-modal .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}