.button {
    background-color: #e5793a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.button:hover {
    background-color: #dd6f35;
    scale: 1.1;
}

.iconbutton {
    width: 40px; /* Button width */
    height: 40px; /* Button height */
    background-size: cover;
    background-repeat: no-repeat; /* No repeating of background image */
    background-position: center; /* Center the background image */
    outline: none; /* Remove focus outline */
}

.darkmode-button {
    top: 10px; /* Adjust the top position */
    right: 130px; /* Adjust the right position */
    background-image: url('../../public/icons/mode.svg'); /* Default icon image */
    position: fixed; /* Fixed position for the button */
}

.upload-button {
    background-image: url('../../public/icons/upload.svg'); /* Default icon image */
}

.random-button {
    background-image: url('../../public/icons/skull.svg');
}

.mobile-history-button {
    background-image: url('../../public/icons/history.svg');
}

.mobile-favorites-button {
    background-image: url('../../public/icons/party.svg');
}

.mobile-close-button {
    opacity: 0;
    top: 25px; /* Distance from the top */
    right: 15px; /* Distance from the right edge */
    background-image: url('../../public/icons/close.svg');
}

#close-favorites-button {
    display: none;
}

.download-favorites-button {
    display: none;
    background-image: url('../../public/icons/download.svg');
}

.show-file-button {
    padding: 5px;
}

.info-button {
    display: none; /* Hide the button by default */
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #007bff; /* Blue color for info icon */
    margin-top: 5px;
    transition: transform 0.2s ease;
}

.info-button:active {
    transform: scale(1.1); /* Slightly shrink on click */
}

.favorite-button {
    background: none; /* Remove default background */
    border: none; /* Remove default border */
    cursor: pointer; /* Pointer cursor */
    font-size: 20px; /* Large star size */
    color: #ffd700; /* Gold color for the star */
    position: fixed; /* Fixed position for the button */
    top: 5px; /* Adjust the top position */
    right: 5px; /* Adjust the right position */
}

.favorites:hover .download-favorites-button {
    display: block; /* Show the download button on hover */
}

.delete-history-button {
    text-align: center; /* Center the text */
    transition: background-color 0.3s ease; /* Smooth background color transition */
    display: none; /* Hide the button by default */
    background-image: url('../../public/icons/trash.svg');
    position: fixed; /* Fixed position for the button */ 
    bottom: 10px; /* Adjust the top position */
    right: 10px; /* Adjust the right position */
    animation: fadeIn 300ms;
}

.history:hover .delete-history-button {
    display: block; /* Show the download button on hover */
}

.tinybutton {
    width: 20px; /* Button width */
    height: 20px; /* Button height */
    background-size: contain; /* Ensure the image fits within the button */
    background-repeat: no-repeat; /* No repeating of background image */
    background-position: center; /* Center the background image */
    border: none; /* Remove border */
    cursor: pointer; /* Pointer cursor for interactivity */
    outline: none; /* Remove focus outline */
    padding: 0px;
}

.search-button {
    background-image: url('../../public/icons/compass.svg');
}

.home-button {
    background-image: url('../../public/icons/house.svg');
}

.juliamemes-button {
    align-self: flex-start;
    background-image: url('https://static-pub.highwebmedia.com/uploads/avatar/2024/07/22/18/07/3c5b1113aff45d941edef4f7bc127722d7213eba.jpg');
}

.nsf-button {
    align-self: flex-start;
    background-image: url('https://static-pub.highwebmedia.com/uploads/avatar/2023/09/04/10/41/108d14e6dace4e98a2eff60f8c9187de7dbc39d3.jpg');
}

.dec-button {
    align-self: flex-start;
    background-image: url('https://static-pub.highwebmedia.com/uploads/avatar/2023/09/24/11/22/ef1038c309a0f3d3b04474735214af6019b24b55.jpg');
}

.hgr-button {
    align-self: flex-start;
    background-image: url('https://static-pub.highwebmedia.com/uploads/avatar/2024/04/01/14/04/3372ad7ec867d362afe9d2df2c2c669bbbfa3d92.jpg');
}

.tsi-button {
    align-self: flex-start;
    background-image: url('https://static-pub.highwebmedia.com/uploads/avatar/2024/06/13/07/31/0476ec824d38dc1ddbb9b31289b6dd808a511e48.jpg');
}

.list-buttons {
    align-self: flex-start;
}

.visible-button {
    background-image: url('../../public/icons/eye.svg');
    position: fixed; /* Fixed position for the button */
    top: 5px; /* Adjust the top position */
    left: 5px; /* Adjust the right position */
}

.ius-button {
    align-self: flex-start;
    background-image: url('https://static-pub.highwebmedia.com/uploads/avatar/2023/08/25/02/39/888bbc665f872291f8cc28385a7d66e90da51343.jpg');
}

.share-button {
    background-image: url('../../public/icons/share.svg');
}

.login-button {
    background-image: url('../../public/icons/login.svg');
}