.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 3;
}

.modal-image {
    max-width: 90%;
    max-height: 90%;
    border: 4px solid #d4682d;
    border-radius: 8px;
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.close-modal:hover {
    color: #ff4d4d;
}

.login-modal-content {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    align-self: center;
}