.flag-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    right: 180px;
    top: 80px;
}
.flag-container img:hover {
    transform: scale(1.1);
}

.flag-button {
    background-color: transparent;
    border: none;
}

