.flag-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
    right: 180px;
    top: 80px;
}
.flag-container img:hover {
    transform: scale(1.1);
}

.flag-button img {
    max-width: 50%;
}

.language-picker {
    display: flex;
    height: 50px;
    flex-direction: row-reverse;
}